* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #5995DA;
  /* Blue */
  padding: 20px 0;
  display: flex; /* declares this container will use flex rules instead of the default box model */
  justify-content: center; /* use to define the horizontal alignment of items */
}

.menu {
  /*border: 1px solid #fff;  /* toggle on for debugging */
  width: 900px;
  display: flex;
  justify-content: space-between; /* distributes extra space equally between all items */
}

.links {
  /*border: 1px solid #fff;  /* for debugging */
  display: flex;
  justify-content: flex-end; /* pushes items to the end of its container, right for rows and bottom for columns; the opposite is flex-start (left/top) */
}

.signup {
  margin-left: auto;  /* auto-margins use up all the extra space in a flex container, basically a shortcut to moving things to the left or right without the need for an extra container in the HTML */
}

.login {
  margin-left: 20px;
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* use to define the vertical alignment of items */
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /*forces overflow onto the next line */
  flex-direction: row; /* can be row (default) or column, or a row-reverse or column-reverse to reverse the order */
  align-items: center;
}

.photo-grid-item {
  /*border: 1px solid #fff;  /* for debugging */
  width: 300px;
  height: 300px;
}

.first-item {
  order: 1; /* order can be used to customize the order of individual items */
}

.last-item {
  order: -1;
}

.social,
.subscribe {
  align-self: flex-end; /* overrides the align-items value from its container, vertically aligns individual items */
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1; /* tells the items to stretch to match the width of its container, use to create flexible foxes that can stretch and shrink */
}

.footer-three {
  flex: 2; /* tells this item to grow twice as big as the others */
}

.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial; /* without this line the below width declaration would be ignored as flex: 1 would be inherited instead */
  width: 300px;
}